<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Rólunk</h2>

                <h3 class="section-subheading text-muted">Ez történt eddig...</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014 nyár</h4>
                                <h4 class="subheading">A ködös múlt</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Valamikor 2014 nyarán kezdődött a történetünk... Egy szép nap az
                                    iroda parkolójában egymás hegyén-hátán parkoló autókat nézve pattant ki a fejünkből
                                    az ötlet, hogy ezt midnenképp meg kell szüntetni! Ha nem mindenki egyedül autózna
                                    munkába sokkal több szabad parkoló lenne.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014 ősz</h4>
                                <h4 class="subheading">Alakot ölt a megoldás</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Az szikra kipattanását komoly tervezés, elemzés követte.
                                    Megpróbáltuk megérteni miért jár mindenki egyedül munkába! Rájöttünk, hogy ha
                                    mindenki vinne magával még egy embert, rengeteg CO2-től, és nem utolsó
                                    sorban dugótól szabadíthatnánk meg
                                    a városokat.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014 december</h4>
                                <h4 class="subheading">Climate-KIC</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A Magyar Climate-KIC éppen induló projekteket resett
                                    klímainnovációs témakörben, mi pedig nem voltunk restek beadni a
                                    jelentkezésünket. A Climate-KIC magyar mentorai rengeteget segítettek megértein
                                    merre is megyünk és mit csinálunk! Ezúton is köszönjük a mentorálást!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015 január</h4>
                                <h4 class="subheading">... and the winner is Rinity!</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Januárban a magyarországi Climate-KIC neves szakmai zsűrije előtt
                                    megnyertük az akcelerációs program első lépcsőjét! Ez adott új lendületet
                                    erőfeszítéseinkenk. Ez idő alatt sikerült kapcsolatba lépni egy többezer embert
                                    foglalkoztató nagycéggel, akivel érdeklődik egy pilot program után.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015 tavasz</h4>
                                <h4 class="subheading">Stage-2</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Gőzerővel dolgozunk az első verzión amely hamarosan elkészül.
                                    </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Légy
                                <br>Te is
                                <br>Része!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>