<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partnereink</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <a href="http://www.myco.hu">
                    <img src="img/logos/myco_compressed.png" class="img-responsive img-centered" alt="MyCo Incubation"
                         width="251" height="98">
                </a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="http://www.climate-kic.org">
                    <img src="img/logos/climate-kic_compressed.png" class="img-responsive img-centered" alt="Climate-KIC"
                         width="185" height="186">
                </a>
            </div>
        </div>
    </div>
</aside>