<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ride sharing for the enterprise</h2>
                    <h3 class="section-subheading text-muted">Rinity helps
                      co-workers create a ride sharing community to make the
                      daily commuting more affordable and convenient.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Easy</h4>
                    <p class="text-muted">Using our mobile application it is a
                    matter of taps to organize your daily commute. You set the
                    time of arrival and a driver working in the same shift and
                    site will take you to work!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cheap</h4>
                    <p class="text-muted">It costs you nil. Nada. None. Null.
                    Even public transport can't beat our prices!
                    But if you apply to become a driver, you can get donations
                    from the community.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Comfortable</h4>
                    <p class="text-muted">Ever got cold waiting for the bus or
                    tram? Ever experienced rain at the busstup? Ever annoyed by
                    the people on public transport? No more! 
                    With Rinity you can enjoy the compfort of a car and the company
                    of a co-worker!</p>
                </div>
            </div>
        </div>
    </section>
