<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Közösségi útmegosztás cégek számára</h2>

                <h3 class="section-subheading text-muted">
                    A Rinity dolgozói útmegosztó közösségek létrehozásával segíti a mindennapi munkába járás
                    megreformálását.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Egyszerű</h4>

                <p class="text-muted">A mobilalkalmazás használatával pár érintéssel megszervezhető a napi ingázás.
                    Csupán az irodába érkezés idejét kell beállítanod, és egy veled egy műszakban dolgozó kollégád elvisz
                    dolgozni! Munka után hazafelé ugyanígy tudsz találni magadnak útitársat.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Olcsó</h4>

                <p class="text-muted">Felhasználóként Neked pontosan semmibe nem kerül. Zéró. Nulla. Pontosan!
                    Ez még a tömegkközlekedéstől is olcsóbb!
                    Sőt, ha sofőrnek jelentkezel, a közösség besegít a benzinköltésgedbe is!</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Kényelmes</h4>

                <p class="text-muted">Fáztál már meg a buszra várva? Áztál már el villamosmegállóban? Írtózól a többi
                    utastól? Ez már a múlté!
                    A Rinityvel élvezheted az autóval való ingázás minden előnyét, és még egy kis csapatépítés is adott!</p>
            </div>
        </div>
    </div>
</section>
